.body {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 2rem;

  & .body__nav {
    & .body__nav__list {
      padding: 0;
      list-style-type: none;

      li {
        text-wrap: nowrap;
        cursor: pointer;

        a {
          text-decoration: none;

          &:target,
          &:hover {
            text-decoration: underline;
          }
        }
      }

      & .body__nav__list__item {
        cursor: pointer;
      }

      & .body__nav__list__sublist {
        list-style-type: none;
        padding-left: 1rem;
      }
    }
  }

  & .body__center {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & .body__center__gallery {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & .body__center__gallery__images {
        & img {
          max-width: 1200px;
          max-height: 700px;
        }

        & .hidden-picture {
          position: absolute;
          visibility: hidden;
          z-index: -1;
          top: 0;
          left: 0;
        }
      }

      & .body__center__gallery__controls {
        position: absolute;
        top: 2rem;
        left: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        & .body__center__gallery__controls__button {
          background: none;
          border: none;
          box-shadow: none;
          font-size: 1.5rem;
          padding: 0;
          height: 2rem;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          & img {
            height: 16px;
          }
        }
      }
    }
  }
}
