.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 1rem;
  gap: 2rem;

  .body__bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: auto;

    .body__bio__text {
      align-self: flex-start;
      flex: 1;
    }

    .body__bio__image {
      flex: 1;
      width: auto;
    }
  }

  .body__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .body__contact__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
}

@media only screen and (min-width: 640px) {
  .body {
    & .body__bio {
      flex-direction: row;

      & .body__bio__text {
        max-width: 600px;
      }

      & .body__bio__image {
        max-width: 400px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .body {
    & .body__bio {
      & .body__bio__text {
        max-width: 800px;
      }
    }
  }
}
